<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
</head>
<body>
    <h1>Update a User</h1>
    <form action='/users/{{this_user.id}}/update' method="post">
        <p>First Name:</p>
        <input name="first_name" value="{{this_user.first_name}}">
        <p>Last Name:</p>
        <input name="last_name" value="{{this_user.last_name}}">
        <p>Email:</p>
        <input name="email" value="{{this_user.email}}">
        <button>Update</button>
    </form>
</body>
</html>
</body>
</html>