<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Favorite</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>{{session['name']}}'s favorites</h1>
            <table>
                <tr>
                    <td>Title</td>
                    <td># of Pages</td>
                </tr>
                {%for row in authors_books %}
                <tr>
                    <td>{{row.title}}</td>
                    <td>{{row.num_of_pages}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div>
            <h1>Add Author's Favorite</h1>
            <form action="/processbook" method="post">
                <p>Book:</p>
                <select name="book_select">
                    <option value=""></option>
                </select>
                <button>Add</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <a href="/">Home</a>
</body>
</html>