<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <h1>Add a New Recipe!</h1>
    <a href="/dashboard">Back to Recipes</a>
    <a href="/logout">Logout</a>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <form action="/create/recipe" method = "post">
        <p>Name:</p>
        <input type="text" name = "name">
        <p>Description:</p>
        <input type="text" name = "description">
        <p>Instructions:</p>
        <input type="text" name = "instructions">
        <p>Data Cooked/Made:</p>
        <input type="date" name = "date_made">
        <p>Under 30 minutes?</p>
        yes:
        <input type="radio" name = "under_thirty" value = 1 checked>
        no:
        <input type="radio" name = "under_thirty" value = 0>
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>