<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
</head>
<body>
    <h1>Add a New User</h1>
    <form action="/users/create" method="post">
        <p>First Name:</p>
        <input name="first_name">
        <p>Last Name:</p>
        <input name="last_name">
        <p>Email:</p>
        <input name="email">
        <button>Create</button>
    </form>
</body>
</html>