<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex flex-row justify-content-between">
        <div class="p-2 px-5">
            <h1 class="display-4">My Trip Log & Finder</h1>
        </div>
        <div class="p-2 px-5 mt-3">
            <a href="/login"><button class="btn btn-primary">Register</button></a>
            <a href="/login"><button class="btn btn-success">Login</button></a>
        </div>
    </div>
    <div class="row">
        <div class="container w-100">
            <img class="image"
                src="https://hips.hearstapps.com/hmg-prod/images/where-to-travel-in-2022-1640200544.jpg">
        </div>
    </div>
</body>

</html>