<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Form</h1>
    <hr>
    <form action="/process" method="post">
        <label for="dog_name">name a dog</label>
        <input id="dog_name" name="name">
        <input type="hidden" name="store" value="3">
        </p>
        <p>age:
            <input type="number" name="age">
        </p>
        <p>breed:
            <input name="breed">
        </p>
        <button>Make a Dog</button>
    </form>
</body>

</html>