.row{
    display: flex;
    /* justify-content: space-between;
    color: white;
    margin: 10px; */
}

.col, .col-2, .col-3{
    background-color: teal;
    /* width: 20%;
    height: 50px; */
    margin: 10px;
    /* align-items: center;
    display: flex;
    justify-content: center; */
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}


