@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Balsamiq Sans', cursive;
}


.low, .high{
    margin: 0px auto;
    height: 80px;
    width: 300px;
    background-color: red;
    color: black;
    border: 2px solid black;
}

.low p, .high p, .correct p{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.correct{
    margin: 0px auto;
    height: 80px;
    width: 300px;
    background-color: green;
    color: black;
    border: 2px solid black;
}