<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/process" method="post">
        <p>First Name:</p>
        <input type="text" name="first_name">
        <p>Last Name:</p>
        <input type="text" name ="last_name">
        <p>Email:</p>
        <input type="text" name = "email">
        <p>Password:</p>
        <input type="text" name = "password">
        <p>Confirm Password:</p>
        <input type="text" name="confirm_password">
        <br>
        <br>
        <button>Register</button>
    </form>
    <br>
    <h1>Login</h1>
    <form action="/users/login", method="post">
        <p>Email:</p>
        <input type="text" name = "email">
        <p>Password:</p>
        <input type="text" name = "password">
        <br>
        <br>
        <button>Login</button>
    </form>
</body>
</html>