<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css')}}">

</head>

<body>
    <h1>Submitted Info</h1>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{session['name']}}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{session['location']}}</td>
        </tr>
        <tr>
            <td>Language:</td>
            <td>{{session['language']}}</td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td>{{session['comment']}}</td>
        </tr>
    </table>
    <a href="/"><button>Go Back</button></a>

</body>

</html>