<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>Dojo Survey</h1>
    <form action="/process" method="post">
        <p>Name:
            <input name="name">
        </p>
        <p>Dojo Location:
            <select name="location">
                <option value="Chicago">Chicago</option>
                <option value="New York">New York</option>
                <option value="San Jose">San Jose</option>
                <option value="San Francisco">San Francisco</option>
                <option value="Dallas">Dallas</option>
                <option value="Madison">Madison</option>
            </select>
        </p>
        <p>
            Favorite Language:
            <select name="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="C#">C#</option>
                <option value="Java">Java</option>
            </select>
        </p>
        <p>
            Comments:
            <input name="comment">
        </p>
        <a href="/display"><button>Submit</button></a>
    </form>
</body>

</html>