<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css')}}">
</head>

<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 10</p>
    <p>Take a guess!</p>
    <div class="low">
        <p>Too Low!</p>
    </div>
    <div class="high">
        <p>Too High!</p>
    </div>
    <div class="correct">
        <p>YOU WIN!!</p>
    </div>
    <form action="/process" method="post">
        <input type="number" name="guess" id="guess">
        <button>Submit</button>
    </form>
    {% if 'guess' in session %}
    {{session['guess']}}{{session['num']}}
    {% endif %}
</body>

</html>