<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Level One</title>
    <style>
        .header{
            margin: 0px auto;
            text-align: center;
            padding: 20px;
        }
        .block{
            display: flex;
            justify-content: space-evenly;
        }
        .subblock{
            background-color: blue;
            border: 5px solid black;
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1 class="header">Welcome!</h1>
    <div class="block">
        <div class="subblock"></div>
        <div class="subblock"></div>
        <div class="subblock"></div>
    </div>
</body>

</html>