<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo's Ninjas</title>
</head>
<body>
    <h1>{{one_dojo.name}} Ninjas</h1>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
        </tr>
        {% for one_ninja in one_dojo.ninjas %}
        <tr>
            <td>{{one_ninja.first_name}}</td>
            <td>{{one_ninja.last_name}}</td>
            <td>{{one_ninja.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Home</a>
</body>
</html>